<!-- added this as a reminder that materialize has useful icons -->
<i class="material-icons left">payment</i>

<% if current_recycler %>
  <div id="recycler-info" recyclerid="<%= current_recycler.id %>"></div>

  <h1>Welcome recycler!</h1>
  <p>To date, you've submitted <%= current_recycler.submissions.count %> collection(s) of reyclables!</p>
  <p>You've received $<%= current_recycler.payments.sum(:amount) %> in payments!</p>
  <p>And you've donated $<%= current_recycler.donations.sum(:amount) %> to charities!</p>
  <%= link_to "Submit your recycling!", new_submission_path %>

<% elsif current_sponsor %>
  <div id="sponsor-info" sponsorid="<%= current_sponsor.id %>"></div>
  <h1>Welcome sponsor!</h1>
  <%= link_to "Submit a new grant", grants_new_path %>

<% elsif current_charity %>
  <div id="charity-info" name="<%= current_charity.id %>"></div>
  <h1>Welcome charity!</h1>
  <p>To date, you've received $<%= current_charity.donations.sum(:amount) %> through <%= current_charity.donations.count %> donations from recyclers!</p>
<% end %>

<div id="transaction-success"></div>

<p>Total grants available: $<%= GrantsController.total %></p>
