



<% if current_recycler %>
  <div id="recycler-info" recyclerid="<%= current_recycler.id %>"></div>
  <h1>Welcome valued recycler!</h1>
<p>To date, you have recycled 39 things!</p>

<p>You've received $2.90 in payments!</p>

<p>And you've donated $0.40 to charities!</p>


<ol>
  <li>Client requests a client token</li>
  <li>Server generates a client token and sends it to the client</li>
  <li>Once the client gets the token, it can create a payment_method_nonce and send it to the server </li>
  <li>When the server receives the nonce, it can use it to create a transaction</li>
</ol>
<% elsif current_sponsor %>
  <div id="sponsor-info" sponsorid="<%= current_sponsor.id %>"></div>
  <h1>Welcome valued sponsor!</h1>
  Fill out the form below to create a new grant:
  <form id="braintree-form" action="/grants" method="post">
    <div id="error-message"></div>

    <label for="card-number">Card Number</label>
    <div class="hosted-field" id="card-number"></div>

    <label for="cvv">CVV</label>
    <div class="hosted-field" id="cvv"></div>

    <label for="expiration-date">Expiration Date</label>
    <div class="hosted-field" id="expiration-date"></div>

    <label for="amount">Amount</label>
    <input type="text" name="amount" id="amount"></input>

    <!-- <input type="hidden" name="payment-method-nonce"> -->
    <input id="submit-button" type="submit" value="Submit a grant">
  </form>
  <p></p>
<% elsif current_charity %>
  <div id="sponsor-info" name="<%= current_sponsor.id %>"></div>
  <h1>Welcome valued charity!</h1>
<% end %>

<div id="transaction-success"></div>

<%= link_to 'Show transactions report', '/grant_transactions_report' %>

<p>Total grants: $<%= GrantsController.total %></p>













