<h4 class="gblue-grey-text text-blue-grey-darken-3">Sign up as a Sponsor</h4>

<%= form_for 'sponsor', url: sponsor_registration_path do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field col s6">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="input-field col s6">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="input-field col s6">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="input-field col s6">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions btn waves-effect waves-light teal darken-2">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
