<div id="sponsor-info" sponsorid="<%= @sponsor.id %>"></div>
<h1>Sponsor: <%= @sponsor.name %></h1>
<%= image_tag @sponsor.logo.url(), class: 'border-sponsor' %>
<p>To date, <%= @sponsor.name %> has submitted $<%= @sponsor.grants.sum(:amount) %> in grants!</p>
<p>Grants from <%= @sponsor.name %> have funded $<%= @sponsor.payments.sum(:amount) %> in payments to recyclers!</p>




<% if @sponsor.grants %>
Your grants:
<ol>
  <% @sponsor.grants.each do |grant| %>
  <li>
    <%= link_to "Grant ##{grant.id}", "/grants/#{grant.id}" %>, created on <%= grant.created_at %> by <%= grant.sponsor.name %>.<br>
    In the amount of $<%= grant.original_amount %>.<br>
    Currently $<%= grant.amount %> remaining.<br>
  </li>
  <% end %>
</ol>
<% end %>

<% if current_sponsor %>
  <%= link_to "Submit a new grant", grants_new_path %>
<% end %>

