<div id="sponsor-info" sponsorid="<%= @sponsor.id %>" class="blue-grey-text text-blue-grey-darken-3">
	<br><br>
	<div class="row">
		<div class="center col s12">
		<h4><%= @sponsor.name %></h4>
	 		<%= image_tag @sponsor.logo.url(), class: 'border-sponsor' %>
	 	</div>
	 	<br><br>
	 	<div class="col s12">
		  <p>To date, <%= @sponsor.name %> has submitted 
		  $<%= number_with_precision(@sponsor.grants.sum(:amount), precision: 2) %> in grants.</p>
		  <p>Grants from <%= @sponsor.name %> have funded $<%= number_with_precision(@sponsor.payments.sum(:amount), precision: 2) %> in payments to recyclers.</p>
		 	<% if @sponsor.grants %>
			  Recent grants:
			  <ul>
			    <% @sponsor.grants.each do |grant| %>
			    <li class="lower-links"> -
			      <%= link_to "Grant ##{grant.id}", "/grants/#{grant.id}" %>, created on <%= grant.created_at.strftime("%Y-%m-%d") %> by <%= grant.sponsor.name %> in the amount of $<%= number_with_precision(grant.original_amount, precision: 2) %>.<br>
			  	<% end %>
			  </ul>
	  	<% end %>
	   
		 	<% if current_sponsor %>
			 	<div class="lower-links">
			    <%= link_to "Submit a new grant", grants_new_path %>
			 	</div>
		 	<% end %>
	  </div>
	</div>
</div>