<div class="blue-grey-text text-blue-grey-darken-3" id="sponsor-info" >
	<h4>Sponsor: <%= current_sponsor.name %></h4>
	<%= image_tag current_sponsor.logo.url(), class: 'border-sponsor' %>
	<p>To date, you've submitted $<%= number_with_precision(current_sponsor.grants.sum(:amount, precision:2)) %> in grants.</p>
	<p>Your grants have funded $<%= (current_sponsor.grants.sum(current_sponsor.payments.sum(:amount, precision:2)) %> in payments to recyclers.</p>

	<% if current_sponsor.grants %>
		Your grants:
		<ol>
		  <% current_sponsor.grants.each do |grant| %>
		  	<li><%= link_to "Grant ##{grant.id}", "/grants/#{grant.id}" %>, created on <%= grant.created_at %> by <%= grant.sponsor.name %>.<br>
		    In the amount of $<%= grant.original_amount %>.<br>
		    Currently $<%= number_with_precision(grant.amount, precision:2) %> remaining.</li><br>
		  <% end %>
		</ol>
	<% end %>

	<%= link_to "Submit a new grant", grants_new_path %>
</div>
