<%= form_for @submission, url: {action: 'create'} do |f| %>
<%#= f.error_messages %>
<!-- this div for uploading pictures via file selection -->

<!-- this div for uploading pictures via webcam -->
  <div></div>

  <% @index = 0  %>
  <div id='material-container' class='row'>
    <%= f.fields_for :submission_groups do |builder| %>
      <% @material = @materials[@index] %>
      <%= render "submission_group_fields", :f => builder %>
      <% @index += 1 %>
    <% end %>
  </div>

  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <br>
  <div class="actions btn waves-effect waves-light green darken-4">
    <%= f.submit "Submit" %>
  </div>
<% end %>
