<%= form_for @submission, url: {action: 'create'} do |f| %>
<%#= f.error_messages %>
<!-- this div for uploading pictures via file selection -->

<!-- this div for uploading pictures via webcam -->
  <div></div>






  <% @index = 0  %>
  <div id='material-container' class='row'>
    <%= f.fields_for :submission_groups do |builder| %>
      <% @material = @main_materials[@index].category %>

      <%= render "submission_group_fields", :f => builder %>
      <% @index += 1 %>
    <% end %>
  </div>

  <div class='center'>
    <div>
      <%= f.label :image, "Upload a photo of your recycled items" %><br>
      <%= f.file_field :image %>
    </div>
    <br>
    <div class="actions btn waves-effect waves-light green darken-4">
      <%= f.submit "Submit" %>
    </div>
  </div>
<% end %>
<!--
<div class="center">
    <input class="inputfile" type="file" name="submission[image]" id="submission_image"></i>
    <label class="btn waves-effect waves-light green" for="submission_image">image</label>
    <br>
    <br>
    <div class="actions btn-large waves-effect waves-light green darken-4">
      <%#= f.submit "Submit" %>
    </div>
  </div> -->
