<div class="front blue-grey-text text-blue-grey-darken-3 row">
  <br><br><br>
  <div class="col s12 l6 center">
    <%= link_to submission, class: 'pic-link hover' do %>
      <%= image_tag submission.image.url(), class: 'border' %>
      <% if current_recycler.id != submission.recycler_id  %>
        <%= link_to like_submission_path(submission), method: :put do %>
          <i class="material-icons">thumb_up</i>
          <span class='vote-count'><%= submission.get_upvotes.size %></span>
        <% end %>
        <%= link_to dislike_submission_path(submission), method: :put do %>
          <i class="material-icons">thumb_down</i>
          <span class='vote-count'><%= submission.get_downvotes.size %></span>
        <% end %>
        <% else %>
          <p class="blue-grey-text text-blue-grey-darken-3">This is your submission.</p>
          <i class="material-icons">thumb_up</i>
          <span class='vote-count'><%= submission.get_upvotes.size %></span>
          <i class="material-icons">thumb_down</i>
          <span class='vote-count'><%= submission.get_downvotes.size %></span>
      <% end %>
    <% end %>
  </div>
  <div class="col s12 l6">
    <h5>Recycling Stats</h5>
    <ul>
    <% submission.submission_groups.each do |subG| %>
      <li><%= subG.material %>: <%= subG.weight %> oz</li>
    <% end %>
    </ul>
  <div class="divider"></div>
  <br>

    <% if submission.recycler == current_recycler %>
      <h5>Submission Stats</h5>
        Submitted by <%= "#{submission.recycler.first_name} #{submission.recycler.last_name}" %>
        <br>

        Current status: <%= submission.status %>
    <% end %>


    <% if submission.status == "Paid" %>
      <p>Paid for by this sponsor!</p>
      <p><%= image_tag submission.payments.first.grant.sponsor.logo.url, class: "border" %>
    <% end %>





     <p>Value of this submission is $<%= submission.value %></p>

    <div class="blue-grey-text text-blue-grey-darken-3">
      <% if current_recycler.find_voted_items.count < count_recycler_votes_threshold(current_recycler) %>
        You need to vote <%= count_recycler_votes_threshold(current_recycler) - current_recycler.find_voted_items.count %> more times before you can submit more recyclables!
      <% else %>
        You've voted enough to <%= link_to "submit your own recyclables!", new_submission_path, class: "lower-links" %>
      <% end %>
    </div>
  </div>
</div>
