<div class="front">
  <%= link_to submission, class: 'pic-link' do %>
    <%= image_tag submission.image.url(:square) %>
    <% if current_recycler.id != submission.recycler_id  %>
      <div>
        <%= link_to like_submission_path(submission), method: :put do %>
          <i class="material-icons">thumb_up</i>
          <span class='vote-count'><%= submission.get_upvotes.size %></span>
        <% end %>

        <%= link_to dislike_submission_path(submission), method: :put do %>
          <i class="material-icons">thumb_down</i>
          <span class='vote-count'><%= submission.get_downvotes.size %></span>
        <% end %>
      </div>
      <% else %>
        <p>This is your submission</p>
    <% end %>
  <% end %>
  <ul>
    <% submission.submission_groups.each do |subG| %>
      <li><%= subG.material %>: <%= subG.weight %> oz</li>
    <% end %>
  </ul>
  Submitted by <%= "#{submission.recycler.first_name} #{submission.recycler.last_name}" %><br>
  Value of this submission is $<%= submission.value %><br>
  Current status: <%= submission.status %>
</div>

