<div class="front">
  <%= link_to submission, class: 'pic-link' do %>
    <%= image_tag submission.image.url(:square) %>
    <% if current_recycler.id != submission.recycler_id %>
      <div>
        <%= link_to like_submission_path(submission), method: :put do %>
          <i class="material-icons">thumb_up</i>
          <%= submission.get_upvotes.size %>
        <% end %>

        <%= link_to dislike_submission_path(submission), method: :put do %>
          <i class="material-icons">thumb_down</i>
          <%= submission.get_downvotes.size %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <ul>
    <% submission.submission_groups.each do |subG| %>
      <li><%= subG.material %>: <%= subG.weight %> mG</li>
    <% end %>
  </ul>
  Estimated value of this submission is <%= @value %><br>
  Current status: <%= submission.status %>
</div>

