<h4 class="blue-grey-text text-blue-grey-darken-3">Sign up as a Charity</h4>
<br>
<div class="row">
  <%= form_for 'charity', url: charity_registration_path do |f| %>
  <%= devise_error_messages! %>

    <div class="input-field col s12 l6">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="input-field col s12 l6">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="input-field col s12 l6">
      <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="input-field col s12 l6">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
</div>
  <div class="center">
  <div class="actions btn waves-effect waves-light green darken-4 center">
    <%= f.submit "Sign up", class: 'center' %>
    <% end %>
  </div>
  <br>
  <br>
  <div class="lower-links">
    <%= link_to "Sign in", newer_charity_session_path %><br>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <% end %>
  </div>
</div>

