<br><br>
<h4 class="blue-grey-text text-blue-grey-darken-3">Log in as a Charity</h4>
<br>
<div class="row">
  <%= form_for 'charity', url: new_charity_session_path do |f| %>
  <div class="input-field col s12">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="input-field col s12">
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

</div>
  <div class="center">
  <% if devise_mapping.rememberable? -%>
    <div class="input-field col s12">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  <br>

    <div class="actions btn waves-effect waves-light green darken-4">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <div class="lower-links">
    <br>
  <%= link_to "Sign up", newer_charity_registration_path %><br>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br /> 
  <% end %>
  </div>
</div>
