User: <%= current_recycler.first_name %> <%= current_recycler.last_name %>

Your recycling submisssions:
<% if @submissions %>
  <ol>
    <% @submissions.each do |sub| %>
      <li>
        Submission id#<%= sub.id %>, created at <%= sub.created_at %> Status: <%= sub.status %>
        <% if sub.submission_groups %>
          <ul>
            <% sub.submission_groups.each do |subm_group| %>
              <li>
                <%= subm_group.weight %> ounces - <%= subm_group.material %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>
