<div id="recycler-info" recyclerid="<%= current_recycler.id %>" class="blue-grey-text text-blue-grey-darken-4">
	<br><br>
	<div class="row">
		<div class="col s12">
			<h4>Welcome<%= current_recycler.first_name %>!</h4>
			<p> To date:</p> 
			<p>- You've submitted <%= current_recycler.submissions.count %> collection(s) of recyclables<br>
			- You've received $<%= number_with_precision(current_recycler.funds, precision: 2) %> in payments<br>
			- You've donated $<%= number_with_precision(current_recycler.donations.sum(:amount), precision: 2) %> to charities</p>
		</div>
		<div class="divider"></div>
			<div class="col s12 l12 lower-links center">
				<%= link_to "Submit your recycling", new_submission_path %> |
				<%= link_to "Donate to charity", new_donation_path %>
			</div>
	</div>
	<div class="divider"></div><br>
	<div class="lower-links center">
		<b>Your recycling submissions:</b> 
		<% if @submissions %>
		  <ul class="card-panel collection">
		    <% @submissions.each do |sub| %>
		      <li class="collection-item avatar">
		      	<%= image_tag sub.image.url(), class: "circle border-thin" %>
		        <%= link_to "Submission id##{sub.id}", "/submissions/#{sub.id}" %> || Created at <%= sub.created_at.strftime("%Y-%m-%d") %> || Status: <%= sub.status %>
		      </li>
		    <% end %>
		  </ul>
		  <p>Disagree with a submission decision? <a href="mailto:example@example.example">Email us</a>.</p>
		<% end %>
	</div>
</div>