User: <%= current_recycler.first_name %> <%= current_recycler.last_name %>

<div id="recycler-info" recyclerid="<%= current_recycler.id %>"></div>

<h1>Welcome recycler!</h1>
<p>To date, you've submitted <%= current_recycler.submissions.count %> collection(s) of reyclables!</p>
<p>You've received $<%= current_recycler.payments.sum(:amount) %> in payments!</p>
<p>And you've donated $<%= current_recycler.donations.sum(:amount) %> to charities!</p>
<%= link_to "Submit your recycling!", new_submission_path %>

Your recycling submisssions:
<% if @submissions %>
  <ol>
    <% @submissions.each do |sub| %>
      <li>
        Submission id#<%= sub.id %>, created at <%= sub.created_at %> Status: <%= sub.status %>
        <% if sub.submission_groups %>
          <ul>
            <% sub.submission_groups.each do |subm_group| %>
              <li>
                <%= subm_group.weight %> ounces - <%= subm_group.material %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>
