<div id="recycler-info" recyclerid="<%= current_recycler.id %>" class="blue-grey-text text-blue-grey-darken-3"></div>

<h1>Welcome <%= current_recycler.first_name %>!</h1>
<p>To date, you've submitted <%= current_recycler.submissions.count %> collection(s) of recyclables!</p>
<p>You've received $<%= current_recycler.funds %> in payments!</p>
<p>And you've donated $<%= current_recycler.donations.sum(:amount) %> to charities!</p>
<p><%= link_to "Submit your recycling!", new_submission_path %></p>
<p> <%= link_to "Cast some votes!", votes_path %> </p>
<p> <%= link_to "Donate to charity!", new_donation_path %> </p>

Your recycling submisssions:
<% if @submissions %>
  <ol>
    <% @submissions.each do |sub| %>
      <li>
        <%= link_to "Submission id##{sub.id}", "/submissions/#{sub.id}" %>, created at <%= sub.created_at %> Status: <%= sub.status %>
      </li>
    <% end %>
  </ol>
  <p>Disagree with a submission decision? <a href="mailto:example@example.example">Email us</a>.</p>
<% end %>
