<% if @grant %>
  <h1>Grant id#<%= @grant.id %></h1>
  Created on <%= @grant.created_at %> by <%= @grant.sponsor.name %>.<br>
  In the amount of $<%= @grant.original_amount %>.<br>
  Currently $<%= @grant.amount %> remaining.<br>
<% else %>
  Grant not found
<% end %>
