<!DOCTYPE html>
<html>
  <head>
    <title>SmallChange</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <script src="https://js.braintreegateway.com/web/3.0.2/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.0.2/js/hosted-fields.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="green darken-3">
      <div class="navbar fixed container">
        <br>
      </div>
    </div>
    <!-- <div class="page-flexbox-wrapper"> -->
    <nav class="green show-on-large">
    <div class="navbar container show-on-large">
      <a href="/" class="left"><img src="/images/nav_bar_logo.png" height=66 width=180></a>
        <% if current_recycler %>
          <ul id="slide-out" class="side-nav">
            <li>
              <div class="userView">
                <%= link_to "logged in as #{current_recycler.email}", "/recyclers/#{current_recycler.id}", id: "navbarlinks"%>
                <%= link_to "recycle your stuff!", new_submission_path, id: "navbarlinks" %>
                <%= link_to "sign out", destroy_recycler_session_path, method: :delete, id: "navbarlinks" %>
              </div>
            </li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons">menu</i></a>
        <% elsif current_sponsor %>
          <ul id="slide-out" class="side-nav">
            <li>
              <div class="userView">
                <%= link_to "#{current_sponsor.email}", "/sponsors/#{current_sponsor.id}", id: "navbarlinks"%>
                <%= link_to "create a grant", grants_new_path, id: "navbarlinks" %>
                <%= link_to "sign out", destroy_sponsor_session_path, method: :delete %>
              </div>
            </li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons">menu</i></a>
        <% elsif current_charity %>
          <ul id="slide-out" class="side-nav">
            <li>
              <div class="userView">
                <%= link_to "#{current_charity.email}", "/charities/#{current_charity.id}", id: "navbarlinks"%>
                <%= link_to "view your donations", "/charities/#{current_charity.id}", id: "navbarlinks"%>
                <%= link_to "sign out", destroy_charity_session_path, method: :delete %>
              </div>
            </li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons">menu</i></a>
        <% else %>
          <ul class="right">
            <li><%= link_to "sign up or log in", new_recycler_session_path %></li>
          </ul>
        <% end %>
      </div>
    </nav>

    <main class="container">
      <%= yield %>
    </main>

    <!-- </div> -->
  </body>
  <footer class="page-footer green">
    <div class="row center">
      <div id="grantstotal" class="container center white-text text-white col s6 left ">
        <b>Total grants available: $<%= number_with_precision(GrantsController.total, precision: 2) %></b>
      </div>
      <div id="secondarylogins" class="container green link-white white-text text-white col s6 right">
        <%= link_to "for sponsors", new_sponsor_session_path %> |
        <%= link_to "for charities", new_charity_session_path %>
      </div>
    </div>
    <br>
  </footer>
</html>
