<!DOCTYPE html>
<html>
  <head>
    <title>SmallChange</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.0.2/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.0.2/js/hosted-fields.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="green darken-3">
      <div class="navbar fixed container">
        <br>
      </div>
    </div>
    <div class="page-flexbox-wrapper">
    <nav class="green">
    <div class="navbar fixed container">
      <a href="/" class="brand-logo left"><img src="/images/nav_bar_logo.png" height=45 width=140></a>
      <div class="right">

    </div>
        <% if current_recycler %>
          <div class="right">
            <%= link_to "logged in as #{current_recycler.email}", "/recyclers/#{current_recycler.id}", id: "navbarlinks"%>
            |
            <%= link_to "recycle your stuff!", new_submission_path, id: "navbarlinks" %>  |
            <%= link_to "sign out", destroy_recycler_session_path, method: :delete, id: "navbarlinks" %>
          </div>
        <% elsif current_sponsor %>
          <div class="right">
            <%= link_to "logged in as #{current_sponsor.email}", "/sponsors/#{current_sponsor.id}", id: "navbarlinks"%>|
            <%= link_to "sign out", destroy_sponsor_session_path, method: :delete %>
          </div>
        <% elsif current_charity %>
          <div class="right">
            <%= link_to "logged in as #{current_charity.email}", "/charities/#{current_charity.id}", id: "navbarlinks"%>|
            <%= link_to "sign out", destroy_charity_session_path, method: :delete %>
          </div>
        <% else %>
          <ul class="right">
            <li><%= link_to "sign up or log in", new_recycler_session_path %></li>
          </ul>
        <% end %>
      </div>
    </nav>

    <main class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>

    </div>
  </body>
  <footer class="page-footer green">
    <div id="grantstotal" class="container center white-text text-white">
      Total grants available: $<%= GrantsController.total %>
    </div>
    <div class="row">
      <div id="secondarylogins" class="container green link-white white-text text-white col s6 offset-s2">
        <%= link_to "for sponsors", new_sponsor_session_path %> |
        <%= link_to "for charities", new_charity_session_path %> 
      </div>
    </div>
    <br>
  </footer>
</html>
