<!DOCTYPE html>
<html>
  <head>
    <title>SmallChange</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <header>
        Logged in as <%=  %>
        <ul>
          <li><%= link_to "Sign out", destroy_user_session_path, method: 'delete'  %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        </ul>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
