<!DOCTYPE html>
<html>
  <head>
    <title>SmallChange</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.0.2/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.0.2/js/hosted-fields.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="page-flexbox-wrapper">
    <nav class="card-panel light-green">

    <div class="navbar-wrapper container">
     <a href="#" class="brand-logo left">smallchange</a>
      <div class="right">

    </div>
        <% if current_recycler %>
          <ul class="right">
            <li>Logged in as <%= current_recycler.email %></li>
            <li><%= link_to "sign out", destroy_recycler_session_path, method: :delete %></li>
            <li>Thanks for being a recycler!</li>
          </ul>
        <% elsif current_sponsor %>
          <ul class="right">
            <li>Logged in as <%= current_sponsor.email %></li>
            <li><%= link_to "sign out", destroy_sponsor_session_path, method: :delete %></li>
            <li>Thanks for being a sponsor!</li>
          </ul>
        <% elsif current_charity %>
          <ul class="right">
            <li>Logged in as <%= current_charity.email %></li>
            <li><%= link_to "sign out", destroy_charity_session_path, method: :delete %></li>
            <li>Thanks for being a charity!</li>
          </ul>
        <% else %>
          <ul class="right">
            <li><%= link_to "sign up or log in", new_recycler_session_path %></li>
          </ul>
        <% end %>
      </div>
      <% if current_recycler && current_recycler.id = 1 %>
        <ul>
      <div id="admintools">
        Admin tools:
          <li><%= link_to 'Process individual payments', '/submissions' %></li>
          <li><%= link_to 'Process all payments', process_all_payments_path %></li>
        </ul>
      </div>
      <% end %>
    </nav>

    <main class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>

    </div>
  </body>
  <footer class="page-footer light-green">
    <div class="container footer-copyright light-green link-white">
      <%= link_to "for sponsors", new_sponsor_session_path %> |
      <%= link_to "for charities", new_charity_session_path %> |
    </div>
  </footer>
</html>
