<!DOCTYPE html>
<html>
  <head>
    <title>SmallChange</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <header>
        <% if current_recycler %>
          Logged in as <%= current_recycler.email %><br>
          Thanks for being a recycler!<br>
          <%= link_to "Sign out", destroy_recycler_session_path, method: 'delete'  %>
        <% elsif current_sponsor %>
          Logged in as <%= current_sponsor.email %><br>
          Thanks for being a sponsor!<br>
        <% elsif current_charity %>
          Logged in as <%= current_charity.email %><br>
          Thanks for being a charity!<br>
        <% else %>
          <%= link_to "Register or sign in as a recycler", new_recycler_session_path %><br>
          <%= link_to "Register or sign in as a sponsor", new_sponsor_session_path %><br>
          <%= link_to "Register or sign in as a charity", new_charity_session_path %><br>
        <% end %>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
